
<div class="row">
    <h1>Proyectos</h1>
   
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Portfolio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ullam adipisci vel necessitatibus quibusdam dolorem aliquam ex illum voluptatibus,
                sunt iusto hic enim, laboriosam, quidem est? Maxime deserunt ea architecto dolores!</p>
            </li>
        </ul>
        

        

    </div>
    <div class="container">
        <div class="col-sm-6 col-md-4 col-lg-3">   
            <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#sobremiModal">
        <i class="fa fa-pen"></i>
        </button>
        <!-- Button trigger modal cerrar-->
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#sobremiModal"><i class="fa-solid 
        fa-trash-can"></i></button>
        </div>
        </div>
</div>