<div class="row">
    <div class="text-gris-claro col-lg-12">
        <h1>Proyectos</h1>
    </div>
    <div class="col-12">
        <table class="table text-gris-claro">
            <tbody>
                <!-- Fila de proyecto 1 -->
                <tr>
                    <td>
                        <h2>Portfolio</h2>
                    </td>
                    <td>
                        Proyecto actual basado en convenciones de Angular, Typescript y Boostrap; con funciones de crear, editar y borrar, sumando el login con auth (JWT) en Backend; usando Visual Studio Code, Apache Net Beans, PhpMyAdmin y Postman
                    </td>
                </tr>
                <!-- Fila de proyecto 2 -->
                <tr>
                    <td>
                        <h2>Diseños Responsive</h2>
                    </td>
                    <td>
                        Proyecto de desarrollo de diseño responsive adaptado a cualquier dispositivo en Frontend .
                    </td>
                </tr>
                <!-- Agregar más proyectos como filas de <tr> aquí -->
            </tbody>
        </table>
    </div>
</div>
