<div class="row">
    <div class="text-gris-claro">
        <h1>Experiencia</h1>
    </div>
   
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="fa fa-pen"></i> Nueva Experiencia
        </button>
    </div>
    
    <div class="col-12">
        <table class="table text-gris-claro">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td class="text-justify">
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td class="text-justify">{{Experiencia.descripcionE}}</td>
                    <td class="text-end align-middle" *ngIf="isLogged">
                        <div class="d-flex flex-column align-items-end justify-content-center">
                            <button class="btn btn-light mb-2 fixed-button" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="fa fa-pen"></i> EDITAR
                            </button>
                            <button class="btn btn-light fixed-button" (click)="delete(Experiencia.id)">
                                <i class="fa-solid fa-trash-can"></i> BORRAR
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</div>
